.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: white;
  background-color: #222222;
}
.jumbotron h1,
.jumbotron .h1 {
  color: white;
  text-align: center;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
  color: red;
  text-align: center;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}
.jumbotron .container {
  max-width: 100%;
}

.panel-default {

}
#add-train-btn {
	color: white;
	background-color: #e72510;
	border: 1px solid #a91b0c;
}

/*
#clock {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}*/